Playbooks/Custom/Reset-EntraIDPassword-IncidentTrigger.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Reset-EntraIDPassword-IncidentTrigger",
            "type":  "string"
        }
    },
    "variables":  {
        "MicrosoftsentinelConnectionName":  "[concat('Microsoftsentinel-', parameters('PlaybookName'))]",
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                    }
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "Entities_-_Get_Accounts":  {
                            "runAfter":  {
                                "Set_variable_-_password":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/entities/account"
                            }
                        },
                        "For_each":  {
                            "foreach":  "@body('Entities_-_Get_Accounts')?['Accounts']",
                            "actions":  {
                                "Condition_-_is_manager_available":  {
                                    "actions":  {
                                        "Add_comment_to_incident_-_manager_available":  {
                                            "runAfter":  {
                                                "Send_an_email_-_to_manager_with_password_details":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  {
                                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                    "message":  "\u003cp\u003eUser @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])} password was reset in AAD and their manager @{body('Parse_JSON_-_HTTP_-_get_manager')?['userPrincipalName']} was contacted using playbook.\u003c/p\u003e"
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                    }
                                                },
                                                "method":  "post",
                                                "path":  "/Incidents/Comment"
                                            }
                                        },
                                        "Parse_JSON_-_HTTP_-_get_manager":  {
                                            "type":  "ParseJson",
                                            "inputs":  {
                                                "content":  "@body('HTTP_-_get_manager')",
                                                "schema":  {
                                                    "properties":  {
                                                        "userPrincipalName":  {
                                                            "type":  "string"
                                                        }
                                                    },
                                                    "type":  "object"
                                                }
                                            }
                                        },
                                        "Send_an_email_-_to_manager_with_password_details":  {
                                            "runAfter":  {
                                                "Parse_JSON_-_HTTP_-_get_manager":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  {
                                                    "Body":  "\u003cp\u003eUser, @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}, was involved in part of a security incident. \u0026nbsp;As part of remediation, the user password has been reset.\u003cbr\u003e\n\u003cbr\u003e\nThe temporary password is: @{variables('Password')}\u003cbr\u003e\n\u003cbr\u003e\nThe user will be required to reset this password upon login.\u003c/p\u003e",
                                                    "Subject":  "A user password was reset due to security incident.",
                                                    "To":  "@body('Parse_JSON_-_HTTP_-_get_manager')?['userPrincipalName']"
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method":  "post",
                                                "path":  "/v2/Mail"
                                            }
                                        }
                                    },
                                    "runAfter":  {
                                        "HTTP_-_get_manager":  [
                                            "Succeeded",
                                            "Failed"
                                        ]
                                    },
                                    "else":  {
                                        "actions":  {
                                            "Add_comment_to_incident_-_manager_not_available":  {
                                                "type":  "ApiConnection",
                                                "inputs":  {
                                                    "body":  {
                                                        "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                        "message":  "\u003cp\u003eUser @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])} password was reset in AAD but the user doesn't have a manager.\u003cbr\u003e\n\u003cbr\u003e\nThe temporary password is: @{variables('Password')}\u003cbr\u003e\n\u003cbr\u003e\nThe user will be required to reset this password upon login.\u003c/p\u003e"
                                                    },
                                                    "host":  {
                                                        "connection":  {
                                                            "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method":  "post",
                                                    "path":  "/Incidents/Comment"
                                                }
                                            }
                                        }
                                    },
                                    "expression":  {
                                        "and":  [
                                            {
                                                "equals":  [
                                                    "@outputs('HTTP_-_get_manager')['statusCode']",
                                                    200
                                                ]
                                            }
                                        ]
                                    },
                                    "type":  "If"
                                },
                                "HTTP_-_get_manager":  {
                                    "runAfter":  {
                                        "HTTP_-_reset_a_password":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "authentication":  {
                                            "audience":  "https://graph.microsoft.com",
                                            "type":  "ManagedServiceIdentity"
                                        },
                                        "method":  "GET",
                                        "uri":  "https://graph.microsoft.com/v1.0/users/@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}/manager"
                                    }
                                },
                                "HTTP_-_reset_a_password":  {
                                    "type":  "Http",
                                    "inputs":  {
                                        "authentication":  {
                                            "audience":  "https://graph.microsoft.com",
                                            "type":  "ManagedServiceIdentity"
                                        },
                                        "body":  {
                                            "passwordProfile":  {
                                                "forceChangePasswordNextSignIn":  true,
                                                "forceChangePasswordNextSignInWithMfa":  false,
                                                "password":  "@{variables('Password')}"
                                            }
                                        },
                                        "method":  "PATCH",
                                        "uri":  "https://graph.microsoft.com/v1.0/users/@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}"
                                    }
                                }
                            },
                            "runAfter":  {
                                "Entities_-_Get_Accounts":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        },
                        "Initialize_variable":  {
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Password",
                                        "type":  "String",
                                        "value":  "null"
                                    }
                                ]
                            }
                        },
                        "Set_variable_-_password":  {
                            "runAfter":  {
                                "Initialize_variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "SetVariable",
                            "inputs":  {
                                "name":  "Password",
                                "value":  "@{substring(guid(), 0, 10)}"
                            }
                        }
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "microsoftsentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftsentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftsentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Microsoftsentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "office365":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "LogicAppsCategory":  "security",
                "hidden-SentinelWorkspaceId":  "/subscriptions/00d393de-162e-4a44-9005-3c829e7c070a/resourceGroups/RG-log-sentinel-segittur-020/providers/microsoft.OperationalInsights/Workspaces/log-sentinel-segittur-020",
                "hidden-SentinelTemplateName":  "Reset-EntraIDPassword-IncidentTrigger",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftsentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftsentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftsentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Microsoftsentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        }
    ]
}
