Playbooks/Custom/Test-Reset-EntraIDPassword-IncidentTrigger.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "Reset-EntraIDPassword-IncidentTrigger"
    }
  },
  "variables": {
    "microsoftsentinelConnectionName": "[concat('microsoftsentinel-', parameters('PlaybookName'))]",
    "office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "tags": {
        "LogicAppsCategory": "security",
        "hidden-SentinelWorkspaceId": "/subscriptions/00d393de-162e-4a44-9005-3c829e7c070a/resourceGroups/RG-log-sentinel-segittur-020/providers/Microsoft.OperationalInsights/workspaces/log-sentinel-segittur-020",
        "hidden-SentinelTemplateName": "Reset-EntraIDPassword-IncidentTrigger",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('microsoftsentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Initialize_variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  { "name": "Password", "type": "String", "value": "null" }
                ]
              }
            },
            "Set_variable_-_password": {
              "runAfter": { "Initialize_variable": [ "Succeeded" ] },
              "type": "SetVariable",
              "inputs": {
                "name": "Password",
                "value": "@{substring(guid(), 0, 10)}"
              }
            },
            "Entities_-_Get_Accounts": {
              "runAfter": { "Set_variable_-_password": [ "Succeeded" ] },
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account"
              }
            },
            "For_each": {
              "runAfter": { "Entities_-_Get_Accounts": [ "Succeeded" ] },
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
              "actions": {
                "HTTP_-_reset_a_password": {
                  "type": "Http",
                  "inputs": {
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    },
                    "method": "PATCH",
                    "uri": "https://graph.microsoft.com/v1.0/users/@{concat(items('For_each')?['Name'], '@', items('For_each')?['UPNSuffix'])}",
                    "body": {
                      "passwordProfile": {
                        "forceChangePasswordNextSignIn": true,
                        "forceChangePasswordNextSignInWithMfa": false,
                        "password": "@{variables('Password')}"
                      }
                    }
                  }
                },
                "HTTP_-_get_manager": {
                  "runAfter": { "HTTP_-_reset_a_password": [ "Succeeded" ] },
                  "type": "Http",
                  "inputs": {
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://graph.microsoft.com"
                    },
                    "method": "GET",
                    "uri": "https://graph.microsoft.com/v1.0/users/@{concat(items('For_each')?['Name'], '@', items('For_each')?['UPNSuffix'])}/manager"
                  }
                },
                "Condition_-_is_manager_available": {
                  "runAfter": { "HTTP_-_get_manager": [ "Succeeded", "Failed" ] },
                  "type": "If",
                  "expression": {
                    "equals": [ "@outputs('HTTP_-_get_manager')['statusCode']", 200 ]
                  },
                  "actions": {
                    "Parse_JSON_-_HTTP_-_get_manager": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('HTTP_-_get_manager')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "userPrincipalName": { "type": "string" }
                          }
                        }
                      }
                    },
                    "Send_an_email_-_to_manager_with_password_details": {
                      "runAfter": { "Parse_JSON_-_HTTP_-_get_manager": [ "Succeeded" ] },
                      "type": "ApiConnection",
                      "inputs": {
                        "method": "post",
                        "path": "/v2/Mail",
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "body": {
                          "To": "@body('Parse_JSON_-_HTTP_-_get_manager')?['userPrincipalName']",
                          "Subject": "A user password was reset due to security incident.",
                          "Body": "<p>User @{concat(items('For_each')?['Name'], '@', items('For_each')?['UPNSuffix'])} was involved in a security incident.<br/><br/>Temporary password: @{variables('Password')}<br/><br/>User must change it at next sign-in.</p>"
                        }
                      }
                    },
                    "Add_comment_to_incident_-_manager_available": {
                      "runAfter": { "Send_an_email_-_to_manager_with_password_details": [ "Succeeded" ] },
                      "type": "ApiConnection",
                      "inputs": {
                        "method": "post",
                        "path": "/Incidents/Comment",
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                          }
                        },
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p>Password reset completed and manager notified.</p>"
                        }
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Add_comment_to_incident_-_manager_not_available": {
                        "type": "ApiConnection",
                        "inputs": {
                          "method": "post",
                          "path": "/Incidents/Comment",
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                            }
                          },
                          "body": {
                            "incidentArmId": "@triggerBody()?['object']?['id']",
                            "message": "<p>Password reset completed. No manager found.</p>"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "microsoftsentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('microsoftsentinelConnectionName'))]",
                "connectionName": "[variables('microsoftsentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/microsoftsentinel')]",
                "connectionProperties": {
                  "authentication": { "type": "ManagedServiceIdentity" }
                }
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('microsoftsentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('microsoftsentinelConnectionName')]",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/microsoftsentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('office365ConnectionName')]",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
        }
      }
    }
  ]
}
