Playbooks/Custom/Unisolate-MDEMachine-IncidentTriggered.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workspace": {
      "type": "string"
    },
    "PlaybookName": {
      "defaultValue": "Unisolate-MDEMachine-IncidentTriggered",
      "type": "string"
    }
  },
  "variables": {
    "azuresentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "wdatpConnectionName": "[concat('wdatp-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "kind": "V1",
      "name": "[variables('wdatpConnectionName')]",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('wdatpConnectionName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp')]"
        },
        "customParameterValues": {}
      },
      "type": "Microsoft.Web/connections"
    },
    {
      "kind": "V1",
      "name": "[variables('azuresentinelConnectionName')]",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('azuresentinelConnectionName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
        },
        "customParameterValues": {}
      },
      "type": "Microsoft.Web/connections"
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "tags": {
        "LogicAppsCategory": "security",
        "hidden-SentinelTemplateName": "Unisolate-MDEMachine-IncidentTriggered",
        "hidden-SentinelTemplateVersion": "1.0",
        "hidden-SentinelWorkspaceId": "/subscriptions/00d393de-162e-4a44-9005-3c829e7c070a/resourceGroups/RG-log-sentinel-segittur-020/providers/microsoft.OperationalInsights/Workspaces/log-sentinel-segittur-020"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Initialize_variables": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "MDEDeviceId",
                    "type": "string"
                  }
                ]
              }
            },
            "Machines_-_Get_list_of_machines": {
              "runAfter": {
                "Initialize_variables": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['wdatp']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/api/machines"
              }
            },
            "Entities_-_Get_Hosts": {
              "runAfter": {
                "Machines_-_Get_list_of_machines": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "path": "/entities/host"
              }
            },
            "For_each": {
              "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
              "actions": {
                "Compose_sentinel_hostname": {
                  "type": "Compose",
                  "inputs": "@item()?['HostName']"
                },
                "For_each_mde_host": {
                  "foreach": "@body('Machines_-_Get_list_of_machines')?['value']",
                  "actions": {
                    "Compose_MDE_host": {
                      "type": "Compose",
                      "inputs": "@item()?['computerDnsName']"
                    },
                    "Condition": {
                      "actions": {
                        "Set_variable": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "MDEDeviceId",
                            "value": "@item()?['id']"
                          }
                        },
                        "Add_comment_to_incident_(V3)": {
                          "runAfter": {
                            "Actions_-_Unisolate_machine": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "post",
                            "body": {
                              "incidentArmId": "@triggerBody()?['object']?['id']",
                              "message": "<p class=\"editor-paragraph\">Host- @{outputs('Compose_sentinel_hostname')}- is successfully isolated!</p>"
                            },
                            "path": "/Incidents/Comment"
                          }
                        },
                        "Actions_-_Unisolate_machine": {
                          "runAfter": {
                            "Set_variable": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['wdatp']['connectionId']"
                              }
                            },
                            "method": "post",
                            "body": {
                              "Comment": "Host is unisolated by Microsoft Sentinel using playbook Isolate-MDE-machine-incidentTrigger - incident detail : @{triggerBody()?['object']?['properties']?['incidentNumber']}: @{triggerBody()?['object']?['properties']?['title']}"
                            },
                            "path": "/api/machines/@{encodeURIComponent(variables('MDEDeviceId'))}/unisolate"
                          }
                        }
                      },
                      "runAfter": {
                        "Compose_MDE_host": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Add_comment_to_incident_(V3)1": {
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "connection": {
                                  "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                              },
                              "method": "post",
                              "body": {
                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                "message": "<p class=\"editor-paragraph\">Host- @{outputs('Compose_sentinel_hostname')}- is not unisolated!</p><p class=\"editor-paragraph\">Reason : It is not present in Defender for endpoint</p>"
                              },
                              "path": "/Incidents/Comment"
                            }
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "contains": [
                              "@outputs('Compose_MDE_host')",
                              "@outputs('Compose_sentinel_hostname')"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Compose_sentinel_hostname": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Entities_-_Get_Hosts": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "wdatp": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                },
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('wdatpConnectionName'))]",
                "connectionName": "[variables('wdatpConnectionName')]"
              },
              "azuresentinel": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                },
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuresentinelConnectionName'))]",
                "connectionName": "[variables('azuresentinelConnectionName')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azuresentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('wdatpConnectionName'))]"
      ]
    }
  ]
}